:root {
  --gold: rgba(248, 199, 41, .7);
}

html {
  background-color: black;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-top: 56.25%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 500;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

h4 {
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

h6 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 24px;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero-heading {
  float: none;
  clear: none;
  filter: blur(1.5px);
  outline-offset: 0px;
  color: #fff;
  letter-spacing: 0;
  text-indent: 0;
  text-transform: lowercase;
  white-space: normal;
  -webkit-text-fill-color: inherit;
  cursor: auto;
  object-fit: fill;
  background-clip: border-box;
  border: 1px #000;
  border-radius: 0;
  outline: 3px #fff;
  margin-top: 0;
  margin-bottom: 44px;
  padding-right: 0;
  font-family: Nightmarepills, sans-serif;
  font-size: 110px;
  font-weight: 400;
  line-height: 85px;
  transition: transform .2s, opacity .275s;
  display: block;
  overflow: visible;
  transform: translate(0);
}

.hero-subtitle {
  filter: blur(.75px);
  color: rgba(255, 255, 255, .7);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: -9px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.subpage-background {
  background-image: url('../images/contactpage.jpg'), linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
  background-position: 75% 0, 0 0;
  background-size: 90% 95%, auto;
  font-weight: 300;
}

.page-title {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 86px;
  padding-bottom: 52px;
  font-size: 45px;
  font-weight: 300;
  line-height: 51px;
}

.footer {
  color: #222;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 43px;
  padding-bottom: 43px;
}

.footer-link {
  opacity: .82;
  color: #222;
  margin-left: 6px;
  margin-right: 6px;
  text-decoration: none;
  transition: opacity .2s;
}

.footer-link:hover {
  opacity: .76;
  color: #fff;
}

.contact-h3 {
  filter: blur(.5px);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 27px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  text-decoration: line-through;
}

.contact-row {
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  border-top: 1px solid rgba(153, 153, 153, .35);
  margin-top: 148px;
  padding-top: 58px;
  padding-bottom: 58px;
}

.contact-link {
  opacity: 1;
  filter: blur(.7px);
  outline-offset: 0px;
  color: #fff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #fff;
  background-color: rgba(0, 0, 0, 0);
  outline: 3px #fff;
  margin-top: 5px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
}

.contact-link:hover {
  color: #fff;
}

.hero-container {
  color: rgba(255, 255, 255, 0);
  text-align: center;
  border-radius: 0;
  margin-top: 29vh;
}

.content-wrapper {
  margin-top: 20px;
  padding-top: 0;
}

.button-block-2 {
  height: 176px;
  border: 0 solid rgba(255, 255, 255, .1);
  justify-content: center;
  align-items: center;
  margin-top: -88px;
  display: flex;
}

.item-filter-btn-2 {
  width: 90%;
  height: 90%;
  aspect-ratio: auto;
  opacity: .73;
  filter: blur(.4px);
  color: #070707;
  cursor: pointer;
  mix-blend-mode: difference;
  object-fit: fill;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 10px 25px;
  transition: transform .2s;
  display: flex;
  overflow: visible;
  transform: translate(0);
}

.item-filter-btn-2:hover {
  transform: scale(1.08);
}

.filter-by-text-4 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: .7rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2em;
  text-decoration: none;
  display: block;
}

.link-block {
  font-style: normal;
  text-decoration: none;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

.body {
  height: 800px;
}

.bold-text {
  filter: blur(1px);
  color: rgba(103, 59, 95, .8);
}

.nav-link-home {
  filter: blur(.75px);
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.nav-link-home.w--current {
  color: #fff;
}

.nav-links-standard {
  filter: blur(1px);
  color: #fff;
  padding-left: 50px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.nav-links-standard.w--current {
  color: #fff;
}

.section-2 {
  height: 100px;
  background-image: url('../images/tmppic2.jpg');
  background-position: 68% 100%;
  background-size: auto;
}

.contact-nav {
  color: rgba(255, 255, 255, 0);
  background-image: url('../images/contactpage.jpg');
  background-position: 0 0;
  background-size: 0%;
  background-attachment: scroll;
  margin-left: 1px;
}

.hero {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: url('../images/tmppic2.jpg');
  background-position: 17% 0;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  font-weight: 400;
  display: block;
}

.mobile-nav-menu {
  margin-right: 63px;
}

.home-navbar {
  aspect-ratio: auto;
  opacity: 1;
  -webkit-text-fill-color: inherit;
  background-color: transparent;
  background-position: 17% 0;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
  background-clip: border-box;
  margin-left: -249px;
  padding-bottom: 0;
  padding-left: 0;
  overflow: visible;
}

.nav-block-home-mobile, .main-nav-blocks-mobile {
  display: none;
}

.youtube-2 {
  width: 110%;
  height: 60%;
  float: left;
  aspect-ratio: auto;
  opacity: 1;
  -webkit-backdrop-filter: grayscale() contrast(200%);
  backdrop-filter: grayscale() contrast(200%);
  outline-offset: 3px;
  mix-blend-mode: luminosity;
  border: 1px #000;
  border-radius: 0;
  outline: 1.5px #000;
  margin-top: 419px;
  margin-bottom: -35px;
  margin-left: -37px;
  padding-bottom: 0;
  transition: flex-grow .325s cubic-bezier(.55, .085, .68, .53);
  transform: skew(0deg);
  box-shadow: 0 6px 8px 8px rgba(0, 0, 0, .2);
}

.section-copy {
  margin-top: 0;
  padding: 0 2.5%;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  .hero-heading {
    font-size: 90px;
  }

  .item-filter-btn-2 {
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: 13px;
    padding-right: 13px;
  }

  .item-filter-btn-2:hover {
    box-shadow: none;
  }

  .item-filter-btn-2:active {
    opacity: .5;
  }

  .filter-by-text-4 {
    padding-left: 0;
    font-size: .7rem;
  }

  .hero {
    background-position: 70%, 0 0;
    background-size: cover, auto;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading {
    font-size: 61px;
  }

  .footer {
    padding-left: 14px;
    padding-right: 14px;
  }

  .contact-link {
    margin-bottom: 30px;
  }

  .contact-nav {
    aspect-ratio: auto;
  }

  .hero {
    background-position: 77%, 0 0;
    background-size: cover, auto;
  }

  .home-navbar {
    aspect-ratio: auto;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 50px;
    line-height: 52px;
  }

  .hero-subtitle {
    margin-top: -117px;
  }

  .page-title {
    margin-top: -92px;
    padding-top: 0;
    padding-bottom: 63px;
    display: none;
  }

  .contact-row {
    margin-top: 74px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-container {
    padding-left: 13px;
    padding-right: 13px;
  }

  .content-wrapper {
    margin-top: 116px;
  }

  .button-block-2 {
    margin-top: -106px;
  }

  .item-filter-btn-2 {
    width: 89.32%;
    height: 35px;
    min-width: 60px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: row;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px 10px;
  }

  .filter-by-text-4 {
    flex: none;
    padding-left: 5px;
    font-size: .6rem;
    font-weight: 500;
    line-height: 1;
    display: inline;
  }

  .bold-text {
    padding-right: 0;
  }

  .contact-nav {
    color: #fff;
    background-color: #fff;
    overflow: visible;
    display: none;
  }

  .hero {
    background-image: url('../images/tmppic2.jpg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 20%, 0 0;
    background-repeat: repeat, repeat;
    background-size: cover, auto;
    background-attachment: fixed, scroll;
  }

  .mobile-nav-menu {
    margin-right: 6px;
  }

  .home-navbar {
    color: #fff;
    background-color: #fff;
    background-image: url('../images/tmppic2.jpg');
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
    display: none;
    overflow: visible;
  }

  .nav-block-home-mobile {
    filter: blur(.75px);
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-bottom: 0;
    padding-left: 10px;
    display: block;
  }

  .main-nav-blocks-mobile {
    filter: blur(.7px);
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 300;
    display: block;
  }

  .nav-links-mobile {
    color: #fff;
    text-decoration: none;
  }

  .section-copy {
    margin-top: -100px;
    padding-top: 0;
  }

  .subpage-background {
    background-image: url('../images/contactpage.jpg'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-position: 50%, 0 0;
    background-repeat: repeat, repeat;
    background-size: cover, auto;
    background-attachment: scroll, scroll;
  }
}

/* Font Faces */
@font-face {
  font-family: 'Nightmarepills';
  src: url('../fonts/NightmarePills-BV2w.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rustic';
  src: url('../fonts/CachaPersonalUseRegular-GOx6g.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'thin';
  src: url('../fonts/TrenchThin-aZ1J.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ID Selectors */
#yt-embeded-1 {
  max-width: 100vw;
  margin-left: 0px;
}